@font-face {
	font-family: "IPAexGothic";
	src: url("./fonts/ipaexg.ttf");
}
@font-face {
	font-family: "IPAexMincho";
	src: url("./fonts/ipaexm.ttf");
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: url("./fonts/OpenSans-LightItalic.ttf");
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url("./fonts/OpenSans-Italic.ttf");
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: url("./fonts/OpenSans-SemiBoldItalic.ttf");
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: url("./fonts/OpenSans-BoldItalic.ttf");
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: url("./fonts/OpenSans-ExtraBoldItalic.ttf");
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url("./fonts/OpenSans-Light.ttf");
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url("./fonts/OpenSans-SemiBold.ttf");
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/OpenSans-Bold.ttf");
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url("./fonts/OpenSans-ExtraBold.ttf");
}
body {
    font-family: "Segoe UI", "Open Sans", "IPAexGothic";
    width: 95vw;
    height: 95vh;
    margin: 2.5vh 2.5vw;
    overflow-x: hidden;
    overflow-y: hidden;
}
.japanese-input {
    
}
.grid {
    display: grid;
    height: 100%;
}
.data-sources {
    height: 100%;
    overflow: auto;
}
.data-source-vsplit {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 100%;
    overflow: auto;
}
.data-source-hsplit {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow: auto;
}
.data-source-viewer {
    flex: 1;
    background-color: blanchedalmond;
    height: 100%;
    overflow-y: scroll;
}
.gutter {
    background-color: #eee;

    background-repeat: no-repeat;
    background-position: 50%;
}
.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}
.radicals {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.radicals .radicals-optionsbar {
    flex-grow: 0;
    flex-shrink: 0;
}
input.radicals-searchbox {
    margin: 2px 0px 2px 0px;
    padding: 0.3em;
}
.radicals .radicals-bottom {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: auto;
}
.radicals .radicals-optionsbar .left-group {
    float: left;
    text-align: left;
}
.radicals .radicals-optionsbar .right-group {
    float: right;
    text-align: right;
}
.radicals .radicals-radicalselector {
    grid-column: 1;
    overflow-y: scroll;
}
.radicals .radicals-kanjiresults {
    grid-column: 2;
    overflow-y: scroll;
}
.radicals-radicalselectoroption {
    width: 3em;
    height: 3em;
    font-size: 1.2em;
    text-align: center;
}
.radicals-kanjiresult {
    width: 3em;
    height: 3em;
    font-size: 1.2em;
    text-align: center;
}
.radicals-radicalselected {
    color: red;
}
.tabcontrol {
    display: flex;
    flex-direction: column;
}
.tabcontrol-header {
    flex-grow: 0;
    flex-shrink: 0;
}
.tabcontrol-tabcontent {
    flex-grow: 1;
}
.tabcontrol-header button {
    float: left;
}
.tabcontrol-header:after {
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
}
.tabcontrol-tabcontent {
    display: none;
}
.tabcontrol-tabcontent-selected {
    display: block;
    height: 100%;
    overflow: auto;
}